# Steam Web API key
STEAM_API_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

# SteamID64 of the account to query
STEAM_ID_64=XXXXXXXXXXXXXXXXX

# Optional. Set if serving behind a reverse proxy path prefix.
ROOT_PATH=
