[project]
name = "steam-playtime-docker"
version = "1.2.0"
description = "Display playtime for Steam library."
readme = "README.md"
authors = [{ name = "MountainGod2", email = "admin@reid.ca" }]
requires-python = ">=3.12"
dependencies = ["fastapi[standard]==0.135.1", "httpx==0.28.1", "uvicorn==0.41.0"]

[build-system]
requires = ["hatchling==1.29.0", "hatch-fancy-pypi-readme==25.1.0"]
build-backend = "hatchling.build"

[dependency-groups]
dev = ["pyrefly==0.54.0", "ruff==0.15.4", "pre-commit==4.5.1", "python-semantic-release==10.5.3"]
docs = [
    "sphinx==9.1.0",
    "sphinx-autoapi==3.7.0",
    "sphinx-autodoc-typehints==3.9.2",
    "furo==2025.12.19",
    "sphinx-copybutton==0.5.2",
    "myst-parser==5.0.0",
]

[tool.hatch]
build.targets.wheel.packages = ["app"]
metadata.hooks.fancy-pypi-readme.content-type = "text/markdown"
metadata.hooks.fancy-pypi-readme.fragments = [{ path = "README.md" }]
metadata.hooks.fancy-pypi-readme.substitutions = [
    # Replace relative links in the README with absolute links to the GitHub repository
    { pattern = '\[(.+?)\]\(((?!https?://)\.?/?(\S+?))\)', replacement = '[\1](https://github.com/MountainGod2/steam-playtime-docker/tree/main/\g<3>)' },
]

[tool.semantic_release]
version_toml = ["pyproject.toml:project.version"]
build_command = """
  uv lock --upgrade-package "steam-playtime-docker"
  uv build
"""
commit_parser = "conventional"
changelog_file = "CHANGELOG.md"
output_format = "md"
commit_parser_options.minor_tags = ["feat"]
commit_parser_options.patch_tags = ["fix", "perf"]
commit_parser_options.parse_squash_commits = true
commit_parser_options.ignore_merge_commits = true
exclude_commit_patterns.patterns = [
    '''chore(?:\([^)]*?\))?: .+''',
    '''ci(?:\([^)]*?\))?: .+''',
    '''docs(?:\([^)]*?\))?: .+''',
    '''refactor(?:\([^)]*?\))?: .+''',
    '''style(?:\([^)]*?\))?: .+''',
    '''test(?:\([^)]*?\))?: .+''',
    '''build\((?!deps\): .+)''',
    '''Initial [Cc]ommit.*''',
]

[tool.ruff]
target-version = "py312"
line-length = 80
indent-width = 4
lint.preview = true
lint.select = ["ALL"]
lint.ignore = ["COM812", "CPY001", "ISC001"]
lint.unfixable = []
lint.pydocstyle.convention = "google"
format.preview = true
format.quote-style = "double"
format.indent-style = "space"
format.skip-magic-trailing-comma = false
format.line-ending = "auto"
